{% extends "admin/change_form.html" %}
{% load i18n %}

{% block content %}
<style>
    div {
        display: block;
    }
</style>
<form method="post">
    {% csrf_token %}
    <h1>Select fields to Update</h1>
    <div class="module aligned form-row field-permissions">
        {% for line in field_names %}
        <div class="flex-container">
            <label>{{ line }}</label>
            <input type="checkbox" name="to_update" value="{{ line }}" />
        </div>
        {% endfor %}
    </div>
    <button type="submit">Submit</button>
</form>
{% endblock %}