{% extends "admin/change_form.html" %}
{% load i18n %}

{% block content %}
<form method="post">
    {% csrf_token %}
  <h1>Fields</h1>
  <div>
    <span>Should validate data (slower processing):</span>
    <input type="checkbox" name="to_update" value="{{ line }}" checked/>
  </div>
  <br>
  {% for line in fields_to_update %}
    <div>
      <span>{{ line }}</span>
      <input type="text" name="{{ line }}" value="{{ field_values|mass_update_get_item:line }}" checked/>
    </div>
  {% endfor %}
</div>
{% endblock %}