{% extends 'admin/change_form.html' %}
{% load i18n %}

{% block content %}
  <form method="post">
    {% csrf_token %}
    <h1>Mass Update {{ model_name }}</h1>
    {% if error %}
      {{ error }}
    {% endif %}
    <input name="mass_update" style="display: none" value="{{ fields_to_update|mass_update_stringify }}" />
    <div class="aligned form-row">
      <div class="flex-container">
        <label>Should use Form Sets to update data:<br />(slower processing)</label>
        <input type="checkbox" name="form_sets_on" checked />
      </div>
    </div>
    {% for fieldset in admin_form %}
      {% include 'admin/includes/mass_update_fieldset.html' %}
    {% endfor %}
    <div class="submit-row">
      <input type="submit" value="{% trans 'Save' %}" class="default" name="_save" />
    </div>
  </form>
{% endblock %}
